body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cabeçalho {
    background: #333;
    color: #fff;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-menu {
    list-style: none;
    padding: 0;
}

.lista-menu__item {
    margin: 10px 0;
}

.container__imagem {
    max-width: 100px; /* Ajuste conforme necessário */
}

.icones {
    justify-content: flex-end;
}

.container__link {
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 20px; /* Espaçamento entre os ícones */
}

.container__texto {
    margin-left: 5px;
}

.opções {
    position: relative;
    margin-left: 20px; /* Espaçamento do menu */
}
.carrossel {
    padding: 20px;
    background-color: #f4f4f4; /* Couleur de fond du carrousel */
}

.carrossel__titulo {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.swiper {
    position: relative;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card__descrição {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descrição__imagem {
    max-width: 100px; /* Ajustez la taille de l'image */
}

.card__botões {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.botões__item {
    margin-right: 10px;
}

.botões__ancora {
    text-decoration: none;
    color: #007bff;
}
